@font-face {
  font-family: "Helvetica Neue";
  src: url(/public/fonts/helveticaneue.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Neue bold";
  src: url(/public/fonts/helveticaneuebold.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Neue bold italic";
  src: url(/public/fonts/helveticaneuebolditalic.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Neue condensed black";
  src: url(/public/fonts/helveticaneuecondensedblack.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Neue condensed bold";
  src: url(/public/fonts/helveticaneuecondensedbold.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Neue italic";
  src: url(/public/fonts/helveticaneueitalic.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Neue light";
  src: url(/public/fonts/helveticaneuelight.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Neue light italic";
  src: url(/public/fonts/helveticaneuelightitalic.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Neue medium";
  src: url(/public/fonts/helveticaneuemedium.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Neue ultra light";
  src: url(/public/fonts/helveticaneueultralight.ttf) format("truetype");
}

@font-face {
  font-family: "Helvetica Neue ultralight italic";
  src: url(/public/fonts/helveticaneueultralightitalic.ttf) format("truetype");
}